@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar{
    display: none;
}

.load {
    height: 100vh;
    width: 100%;
    background-image: url(images/Wallpaper%20thread%20_%20Post%20your%20nicest%20HD%20Les%20Paul%20pictures%20here__.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note {
    font-size: 60px;
    color: #fff;
    animation-name: load;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    padding-bottom: 50px;
}

.slogan {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

@keyframes load {
    0% {
        transform: rotate(0);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: noise-kill;
    src: url('16264.ttf');
}

@keyframes pulse {
  0% {
    width: 500px;
    height: 500px;
  }
  50% {
    width: 550px;
    height: 550px;
  }
  100% {
    width: 500px;
    height: 500px;
  }
}

@keyframes bounce {
    0% {
        margin-top: 0;
    }
    
    50% {
        margin-top: 10px;
    }
    
    100% {
        margin-top: 0;
    }
}

.nav {
    height: 10vh;
    width: 100%;
    background-color: #000;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.nav h1 {
    color: #fff;
    font-family: noise-kill;
    font-size: 70px;
    margin-left: 50px;
    margin-top: 15px;
}

.nav_logo {
    width: 50%;
}

.nav_butts {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.nav_butts a {
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    transition: .3s;

}

.nav_butts a:hover {
    text-decoration: underline;
    font-size: 30px;
}

.wrap1 {
    height: 90vh;
    width: 100%;
    background-image: url(images/Wallpaper%20thread%20_%20Post%20your%20nicest%20HD%20Les%20Paul%20pictures%20here__.jpg);
    background-size: cover;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.side {
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_image {
    width: 500px;
    height: 500px;
    margin-bottom: 5vh;
    animation-duration: 7s;
    animation-name: pulse;
    animation-iteration-count: infinite;
}

.wrap1 p {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin-top: 200px;
}

.wrap1_s_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.learn_butt {
    padding: 15px;
    width: 200px;
    background-color: transparent;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 400px;
    transition: .5s;
    cursor: pointer;
}

.learn_butt:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
    border: 1px solid #000;
    font-weight: 500;
}

.wrap2 {
    height: 100vh;
    width: 100%;
    background-image: url(images/Simple%20Audio%20Processing%20in%20Python%20With%20Pydub.jpg);
    background-size: cover;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headl {
    color: #fff;
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 25px;
    width: 250px;
    text-align: center;
}

.tracks_table {
    width: 1000px;
    height: 500px;
    background-color: #fff;
}

.up {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    position: fixed;
    top: 90%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 10px;
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
}

.wrap3 {
    height: 100vh;
    width: 100%;
    background-image: url(images/Music%20Images%20%C2%B7%2030,000+%20Free%20Photos%20%C2%B7%20Pexels.jpg);
    background-size: cover;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container {
    height: 90vh;
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
	width: 270px;
	height: 540px;
	position: relative;
	margin: 0 20px;
}

.poster-container {
	width: 230px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 9999;
}

.poster {
	width: 100%;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {
	background: #fff;
	width: 270px;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.state-container {
    height: 350vh;
    width: 100%;
    background-image: url(images/688193.jpg);
    background-size: cover;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.text-container-state {
    width: 1200px;
    height: 2400px;
    background-color: #000;
    color: #fff;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.text-container-state p {
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.main-container:hover .ticket-container {
	opacity: 1;
	animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.01, 1.01, 1.01);
		transform: scale3d(1.01, 1.01, 1.01);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.ticket__content {
	width: 100%;
	position: absolute;
	bottom: -5%;
	text-align: center;
}

.ticket__movie-title {
	text-transform: uppercase;
	margin-bottom: -10px;
}

.ticket__movie-slogan {
	color: #999;
	font-size: 0.9rem;
	margin-bottom: 5px;
    padding-top: 10px;
}

.ticket__current-price {
	color: #69c982;
	font-size: 1.4rem;
	font-weight: bold;
}

.ticket__old-price {
	color: #999;
	text-decoration: line-through;
	margin-bottom: 10px;
}

.ticket__buy-btn {
	cursor: pointer;
	width: 100%;
	background: #2f2f2f;
	color: white;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    transition: .4s;
    font-family: 'Quicksand', sans-serif;
}

.ticket__buy-btn:hover {
    background: #f25e5e;
}

.ticket__buy-btn:active {
    padding-top: 5px;
}

.n_p {
    position: relative;
    top: 5%;
}

footer {
    height: 75vh;
    width: 100%;
    background-color: #000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icc {
    color: #fff;
    font-size: 50px;
    padding: 15px;
}

.foot_block {
    width: 50%;
    height: 55vh;
}

.sub {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sub, .cont h1 {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin-top: 7px;
}

.foot_inp {
    width: 60%;
    padding: 7px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 7px;
}
.message {
    height: 150px;
    width: 60%;
    margin-top: 10px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    resize: none;
    border-radius: 7px;
}

.submit_btn {
    width: 60%;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #f25e5e;
    border-radius: 7px;
    transition: .4s;
    border: none;
}

.submit_btn:hover {
    text-decoration: underline;
    background-color: #EF4B4B;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map iframe {
    margin-top: 10px;
}

.map h1 {
    border-top: 1px solid #fff;
}

.info_f {
    width: 100%;
    height: 10vh;
    background-color: #000;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info_f h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #fff;
}





















    
